Repository wakamsha/learn-react: changes, and which lefthook commands are due for each by the changed paths.
All: builder, core, icon, try

builder:
  run: pnpm lint:oxc {staged_files} && pnpm lint:es {staged_files}

core:
  run: pnpm lint:oxc {staged_files} && pnpm lint:es {staged_files} && pnpm lint:style {staged_files}

icon:
  run: pnpm lint:oxc {staged_files} && pnpm lint:es {staged_files}

try:
  run: pnpm lint:oxc {staged_files} && pnpm lint:es {staged_files} && pnpm lint:style {staged_files}

chore: set up linting environment in catalog workspace
  apps/catalog/.oxlintrc.json
  apps/catalog/bin/capture.js
  apps/catalog/bin/codegen.js
  apps/catalog/eslint.config.js
  apps/catalog/package.json
  apps/catalog/stylelint.config.js
  apps/catalog/templates/stories.js
  apps/catalog/tsconfig.json
  apps/catalog/vite.config.ts
  lefthook.yml
  pnpm-lock.yaml
Due: none

chore: stylelint
  apps/catalog/stylelint.config.js
  packages/core/stylelint.config.js
  packages/linter/stylelint.config.js
  packages/try/stylelint.config.js
Due: core, try

chore: set up linting environment in rr-lib workspace
  .vscode/settings.recommended.json
  apps/react-router-lib/.oxlintrc.json
  apps/react-router-lib/eslint.config.js
  apps/react-router-lib/package.json
  apps/react-router-lib/src/layouts/WithSidebar/Sidebar/styles.module.css
  apps/react-router-lib/src/routes/contacts/edit/template/index.tsx
  apps/react-router-lib/src/routes/contacts/edit/template/styles.module.css
  apps/react-router-lib/src/routes/contacts/edit/template/styles.module.css.d.ts
  apps/react-router-lib/stylelint.config.js
  apps/react-router-lib/tsconfig.json
  apps/react-router-lib/vite.config.ts
  lefthook.yml
  packages/linter/stylelint.config.js
  pnpm-lock.yaml
Due: none

chore: set up linting environment in routing workspace
  apps/routing/.oxlintrc.json
  apps/routing/eslint.config.js
  apps/routing/package.json
  apps/routing/stylelint.config.js
  apps/routing/tsconfig.json
  apps/routing/vite.config.ts
  lefthook.yml
  pnpm-lock.yaml
Due: none

chore: set up linting environment in statement workspace
  apps/statement/.oxlintrc.json
  apps/statement/eslint.config.js
  apps/statement/package.json
  apps/statement/stylelint.config.js
  apps/statement/tsconfig.json
  apps/statement/vite.config.ts
  lefthook.yml
  pnpm-lock.yaml
Due: none

chore: remove linter files in root directory
  .github/workflows/run_check.yml
  eslint.config.js
  package.json
  packages/linter/.oxlintrc.json
  packages/linter/eslint.config.js
  stylelint.config.js
Due: none

fix: order
  apps/catalog/package.json
  apps/react-router-lib/package.json
  apps/react-router-spa/package.json
  apps/react-router-ssr/package.json
  apps/routing/package.json
  apps/statement/package.json
Due: none

fix: ci
  .github/workflows/run_check.yml
Due: none

fix: ci
  packages/core/package.json
  packages/core/src/components/utils/Modal2/index.tsx
Due: core

fix: error in Konva
  packages/icon/src/dashboard.svg
  packages/try/src/ReactKonva/Transformer.story.tsx
Due: try

fix: styles
  packages/core/src/components/navigation/Sidebar/index.tsx
  packages/core/src/helpers/Style.ts
Due: core

chore: remove eslint-related packages
  package.json
  pnpm-lock.yaml
Due: none

chore: remove stylelint
  package.json
  pnpm-lock.yaml
Due: none

chore: remove unnecessary linters from root directory (#2463)
  package.json
  pnpm-lock.yaml
Due: none

chore: install @wakamsha/oxlint-config
  packages/linter/.oxlintrc.json
  packages/linter/package.json
  pnpm-lock.yaml
Due: none

chore: packages/builder
  packages/builder/package.json
Due: none

chore: apps/routing
  apps/routing/package.json
Due: none

chore: apps/statement
  apps/statement/package.json
  apps/statement/src/22-mobx-hooks/pages/Users/components/PostForm.tsx
  apps/statement/src/51-jotai-basic/pages/Users/components/PostForm.tsx
Due: none

chore: apps/rr-ssr
  apps/react-router-ssr/package.json
  apps/react-router-ssr/tsconfig.json
Due: none

fix: install oxlint-tsgolint
  apps/react-router-spa/package.json
  apps/react-router-ssr/package.json
  packages/icon/package.json
  pnpm-lock.yaml
Due: none

chore: packages/core
  packages/core/package.json
  packages/core/src/helpers/String.test.ts
  packages/core/src/helpers/Type.test.ts
  packages/core/tsconfig.json
Due: core

chore: packages/try
  packages/try/package.json
  packages/try/src/Bubbling/index.story.tsx
  packages/try/src/Painter/index.story.tsx
Due: try

chore: apps/catalog
  apps/catalog/bin/capture.js
  apps/catalog/package.json
Due: none

chore: packages/icon
  packages/icon/bin/build.js
  packages/icon/package.json
Due: icon

chore: apps/rr-spa
  apps/react-router-spa/eslint.config.js
  apps/react-router-spa/package.json
  apps/react-router-spa/tsconfig.json
Due: none

ci: add icon build step
  .github/workflows/run_check.yml
  lefthook.yml
Due: none

chore: apps/rr-lib
  apps/react-router-lib/package.json
Due: none

fix: install oxlint-tsgolint
  apps/react-router-lib/package.json
  apps/routing/package.json
  apps/statement/package.json
  pnpm-lock.yaml
Due: none

chore: introduce `@wakamsha/oxlint-config` (#2466)
  .github/workflows/run_check.yml
  apps/catalog/bin/capture.js
  apps/catalog/package.json
  apps/react-router-lib/package.json
  apps/react-router-spa/eslint.config.js
  apps/react-router-spa/package.json
  apps/react-router-spa/tsconfig.json
  apps/react-router-ssr/package.json
  apps/react-router-ssr/tsconfig.json
  apps/routing/package.json
  apps/statement/package.json
  apps/statement/src/22-mobx-hooks/pages/Users/components/PostForm.tsx
  apps/statement/src/51-jotai-basic/pages/Users/components/PostForm.tsx
  lefthook.yml
  packages/builder/package.json
  packages/core/package.json
  packages/core/src/helpers/String.test.ts
  packages/core/src/helpers/Type.test.ts
  packages/core/tsconfig.json
  packages/icon/bin/build.js
  packages/icon/package.json
  packages/linter/.oxlintrc.json
  packages/linter/package.json
  packages/try/package.json
  packages/try/src/Bubbling/index.story.tsx
  packages/try/src/Painter/index.story.tsx
  pnpm-lock.yaml
Due: core, icon, try

chore: fix lint errors
  packages/core/eslint.config.js
  packages/core/src/helpers/Cookie.ts
  packages/core/src/hooks/useHotkeys/index.ts
  packages/core/src/hooks/useListBox/index.ts
Due: core

chore: fix lint errors
  apps/react-router-lib/eslint.config.js
Due: none

chore: fix lint errors
  apps/statement/eslint.config.js
  packages/try/src/Painter/contexts/LineHistory.ts
  packages/try/src/Painter/index.story.tsx
  packages/try/src/PixiReact/MouseTrail.story.tsx
  packages/try/src/PixiReact/ScratchCard.story.tsx
  packages/try/src/ReactKonva/UndoRedo.story.tsx
  packages/try/src/Suspense2/TrySuspense.story.tsx
  packages/try/src/Transition/1StartTransition.story.tsx
Due: try

chore: fix lint errors
  apps/catalog/eslint.config.js
  apps/catalog/src/pages/StoryPage/LayoutConfigContainer.ts
Due: none

feat(try): implement mermaid viewer
  packages/try/package.json
  packages/try/src/Mermaid/index.story.tsx
  pnpm-lock.yaml
Due: try

ci: divide GHA workflow per workspace
  .github/workflows/check_catalog.yml
  .github/workflows/check_core.yml
  .github/workflows/check_routing.yml
  .github/workflows/check_rr-lib.yml
  .github/workflows/check_rr-spa.yml
  .github/workflows/check_rr-ssr.yml
  .github/workflows/check_statement.yml
  .github/workflows/check_try.yml
Due: none

ci: remove old workflow
  .github/workflows/run_check.yml
Due: none

ci: Devide GHA workflow declaration per workspace (#2478)
  .github/workflows/check_catalog.yml
  .github/workflows/check_core.yml
  .github/workflows/check_routing.yml
  .github/workflows/check_rr-lib.yml
  .github/workflows/check_rr-spa.yml
  .github/workflows/check_rr-ssr.yml
  .github/workflows/check_statement.yml
  .github/workflows/check_try.yml
  .github/workflows/run_check.yml
Due: none

Path conditions:
  builder: any of: *.{js,ts} and ^packages/builder/
  core: any of: *.{js,ts,tsx} and ^packages/core/
  icon: any of: *.{js,ts,tsx} and ^packages/icon/
  try: any of: *.{js,ts,tsx} and ^packages/try/
